<div class="bidder-container">
  <app-nav></app-nav>
  
  <main class="bidder-content">
   
    <app-bidder-header 
      [bidders]="bidders"
      (addBidder)="addBidder()">
    </app-bidder-header>

    <app-bidder-stats [bidders]="bidders"></app-bidder-stats>

    <app-my-bids 
      [myBids]="myBids"
      [loadingMyBids]="loadingMyBids"
      [showMyBids]="showMyBids"
      (toggleMyBids)="toggleMyBids()">
    </app-my-bids>
<!-- 
    <div class="loading" *ngIf="loading">
      Loading bidders...
    </div> -->

   
    <app-bidder-table 
      *ngIf="!loading && bidders.length > 0"
      [bidders]="bidders"
      [userId]="userId"
      (viewBidderDetails)="viewBidderDetails($event)"
      (editBidder)="editBidder($event)"
      (deleteSuccess)="onDeleteSuccess()"
      (error)="onError($event)">
    </app-bidder-table>

  
    <div class="empty-state" *ngIf="!loading && bidders.length === 0">
      <p>You don't have any bidder profile yet.</p>
      <button class="add-btn" (click)="addBidder()">+ Add New Bidder</button>
    </div>
  </main>

  <app-bidder-form 
    [showBidderForm]="showBidderForm"
    [isEditing]="isEditing"
    [formData]="formData"
    [userId]="userId"
    [selectedBidderId]="selectedBidder?.id || null"
    (submit)="onBidderSubmit($event)"
    (formClose)="onBidderCancel()">
  </app-bidder-form>


  <app-bidder-detail 
    [showBidderDetail]="showBidderDetail"
    [bidderId]="selectedBidderId"
    (close)="closeBidderDetail()">
  </app-bidder-detail>
</div>
